/**
 * @file
 * Custom CSS for the module.
 */

#ltr-sticky-timer {
  position: fixed;
  top: 0;
  right: 0;
  background-color: green;
  padding: 5px;
  width: 140px;
  text-align: center;
  color: white;
  font-weight: 600;
  z-index: 999999;
}
